@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
}

a {

  color: inherit;
  text-decoration: none;
  color: #0070f3;

  &:hover {
    text-decoration: underline;
  }

}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p,
ul {
  font-size: 1.4em;
  line-height: 1.5;
}