@import "@styles/settings/__settings";

.contianerDark {
  color: white;
  background-color: $color-brand-deep-blue;
}

.title {

  color: $color-brand-purple;
  font-size: 4.5rem;
  font-weight: bold;
  margin: 0 0 4rem;

  @media (max-width: 720px) {
    font-size: 3rem;
  }

}

.subtitle {

  font-size: 2rem;
  margin: -3rem 0 0;

  @media (max-width: 720px) {
    font-size: 1.5rem;
  }

}

.heading {

  font-size: 3.2rem;

  &:first-child {
    margin-top: 0;
  }

  @media (max-width: 720px) {
    font-size: 2rem;
  }

}

.posts {

  font-size: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;

  li {

    margin-bottom: .2em;

    &:last-child {
      margin-bottom: 0;
    }

  }

}

.rocket {
  display: inline-block;
}

.animateRocket {
  animation-duration: 5s;
  animation-name: animate-rocket;
}

@keyframes animate-rocket {
  0% {
    transform: scale(1) rotate(10deg);
  }
  5% {
    transform: scale(1.25) rotate(-15deg);
  }
  10% {
    transform: scale(1.5) rotate(5deg);
  }
  15% {
    transform: scale(1.75) rotate(-10deg);
  }
  20% {
    transform: scale(2) rotate(0);
  }
  100% {
    transform: scale(20) translate3D(100vw, -100vh, 0) rotate(0);
  }
}