$color-brand-aqua: #25bebc;
$color-brand-blue-light: #397dff;
$color-brand-blue-medium: #397dff;
$color-brand-deep-blue: #0b0535;
$color-brand-purple: #9c5bc3;
$color-brand-blue-shadow: $color-brand-blue-medium;

$color-primary: $color-brand-purple;
$color-secondary: $color-brand-blue-medium;

$color-header-links: #3e4674;

$color-footer-background: $color-brand-deep-blue;

$color-button-background: $color-brand-purple;

